@charset "UTF-8";
@font-face {
	font-family: mplus-1p-light;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-light.ttf') format("truetype");
}
@font-face {
	font-family: mplus-1p-regular;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf') format("truetype");
}
@import "base.css";

/*-------------------------------------------------------------------------
	All
/*-----------------------------------------------------------------------*/
body {
	background-color:#f0f2f5;
}
#all {
}
#all.modal {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}
.wrap {
	margin:0 20px 20px;
	border:1px solid #d7d9dc;
	background-color:#FFF;
	padding:20px;
	border-radius:4px;
}
  .wrap .inner {
		padding:20px;
	}

.box {
  border:1px solid #d7d9dc;
  padding:20px;
  border-radius:4px;
  background-color:#FFF;
	margin:0 20px;
}

input, textarea {
  font-family: mplus-1p-regular;
  border:1px solid #d7d9dc;
	background-color:#FFF;
  border-radius:4px;
  padding:5px 15px;
  width:100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#all .radbtn a,
#all .radbtn input,
#modal .radbtn input {
	background-color:#76d9af;
	box-shadow:0 1px 0 #48ab81;
	border:none;
	border-radius:4px;
	font-size:14px;
	letter-spacing:3px;
	color:#FFF;
	padding:5px 35px;
	text-shadow:1px 1px 0 #48ab81;
	display:inline-block;
  position: relative;
}
#all .radbtn a:hover,
#all .radbtn input:hover,
#modal .radbtn input:hover {
	background-color:#54c78d;
	box-shadow:1px 1px 1px #48ab81 inset;
}
#all .radbtn a.active {
  background-color:#e44874;
  text-shadow:1px 1px 0 #b1284f;
  box-shadow:1px 1px 1px #b1284f inset;
}

#btnsearch {
}
#btnsearch.active {
	background-color:#edfffa;
}

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
header {
  border-bottom:1px solid #d7d9dc;
  box-shadow:0 0px 5px #aaa;
  background-color:#FFF;
  margin-bottom:50px;
  position:relative;
  z-index:200;
}
#page header {
	position:fixed;
	left:0;
	top:0;
	width:100%;
}
#page header .inner {
	padding:0 0 0 50px;
}
  #page header p {
		padding-top:15px;
		float:left;
	}
  #page header p img {
		width:120px;
		height:auto;
	}
#index header {
  height:auto;
  box-shadow:none;
  background:none;
  margin-top:30px;
  margin-bottom:30px;
  border:none;
}


#page #info {
	float:right;
	border-left:1px solid #d7d9dc;
	margin-right:20px;
	display:table;
}
  #page #info li {
		display:table-cell;
		border-right:1px solid #d7d9dc;
		padding:7px 15px;
		vertical-align:middle;
	}
  #page .user {
    position: relative;
  }
    #menu {
      position: absolute;
      top: 60px;
      right: 0;
      border-radius: 4px;
      padding:10px;
      width: 120px;
      background-color: rgba(0,0,0,.85);
      display: none;
    }
      #page #menu li {
        display: block;
        border-right:none;
        text-align: center;
        padding: 0;
        margin-bottom: 5px;
      }
      #page #menu li:last-child {
        margin-bottom: 0;
      }
        #page #menu li a {
          font-size: 12px;
          color: #fff;
        }
        #page #menu li a:hover {
          color: #0dcfff;
        }
	#page .user img {
		height:40px;
		width:auto;
		border:1px solid #d7d9dc;
		border-radius:100px;
	}
  
	#info a:hover {
		color:#009ec6;
	}



/*-------------------------------------------------------------------------
	Side
/*-----------------------------------------------------------------------*/

#side {
  position:fixed;
  top:0px;
  left:0;
  padding-left:50px;
	padding-right:20px;
  background-color:#191d29;
  height:100%;
  z-index:10;
}
  #side .inner {
		margin-top:80px;
	}
  
	#side li {
		margin-bottom:10px;
	}
	#side li a {
		color:#888;
	}
	#side li a:hover {
		color:#76d9af;
	}
	#side li a.current {
		color:#FFF;
	}



/*-------------------------------------------------------------------------
	Contents
/*-----------------------------------------------------------------------*/
#contents {
	margin-left:190px;
	margin-top:80px;
	position:relative;
}
  #contents h1 {
		font-size:24px;
	}

/*-------------------------------------------------------------------------
	Footer
/*-----------------------------------------------------------------------*/
footer {
	display:none;
	margin-left:255px;
	margin-top:50px;
	text-align:center;
}