@charset "UTF-8";

#works {
  margin:0 30px 20px;
}
  #works table {
    border-collapse: collapse;
    width: 100%;
  }
  #works th {
    font-weight: bold;
    background-color: #f1f1f1;
    width: 110px;
  }
  #works th, #works td {
    font-size: 14px;
    padding:3px 8px;
    border:1px solid #d7d9dc;
  }
    #works td input {
      padding: 3px 10px;
    }

#teamlist {
}
  #teamlist li {
    float: left;
    width: auto;
    margin-right: 20px;
  }
    #teamlist li input {
      display: inline;
      width: auto;
      vertical-align:text-top;
      margin-right: 5px;
    }
.btnset {
  padding: 10px 15px 6px;
  border: 2px dashed #d7d9dc;
  margin:0 30px 20px;
}
  .btnset h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .btnset li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
  }
    #all .btnset li a {
      letter-spacing: 0.1px;
      padding:5px 15px;
      cursor: pointer;
      background-color: #76a0d9;
      box-shadow: 0px 1px 0px #485fab;
      text-shadow:1px 1px 0 #485fab;
    }
    #all .btnset li a:hover {
      background-color:#5187d1;
      box-shadow:1px 1px 1px #4864ab inset;
    }

    #all .btnset li.ttl a {
      background-color: #0ca5cb;
      box-shadow: 0px 1px 0px #066881;
      text-shadow:1px 1px 0 #066881;
    }
    #all .btnset li.ttl a:hover {
      background-color:#0994b7;
      box-shadow:1px 1px 1px #0b7994 inset;
    }

.table {
  display: table;
  width: 100%;
  background-color: #a4aeb9;
  padding: 5px 0;
  box-sizing:border-box;
}
.name {
}
  .name p {
    display: table-cell;
    width: 12.5%;
    text-align: center;
    color: #fff;
    font-size: 13px;
  }

#data {
  overflow: hidden;
}
#data .data:nth-child(odd) {
  background-color: #f2fafe;
}
#data .data:nth-child(even) {
  background-color: #fff;
}
#data .data.ttl {
  background-color: #d3faf9;
  border-top: 1px dotted #7fd2e6;
  border-bottom: 1px dotted #7fd2e6;
  border-radius: 0;
  position: relative;
  left:0;
}
#data .data.ttl:last-child {
  margin-bottom: -1px;
}
#data .data.ttl + .ttl {
  margin-top: -1px;
}
#data .move {
  display: block;
  width: 24px;
  height: 100%;
  position: absolute;;
  top: 0px;
  left:0px;
  background:url(/files/img/icon_move.png?v=2) center center no-repeat #fff;
  text-indent: -9999px;
  border-right: 1px solid #d7d9dc;
}
  #data .data.ttl input {
    font-weight: bold;
    padding-left: 20px;
  }
  #data form {
    border-bottom: 1px solid #d7d9dc;
  }
  #data ul {
    padding: 0 5px 0 3px;
    background:none;
  }
  #data .data {
    padding:0px 0;
    position: relative;
  }
    #data ul li {
      display: table-cell;
      width: 12.5%;
      padding:0px 0px;
      text-align: center;
      cursor: default;
      position: relative;
    }
    #data .data ul li.code {
      padding-left: 10px;
    }
    #data ul li.ttl {
      width:auto;
      display: block;
      padding-left: 23px;
    }

p.content, li.content {
  width: 45% !important;
}
  .data a.delete {
    border-radius: 30px;
    border:1px solid #f096ab;
    width: 18px;
    height: 18px;
    line-height: 16px;
    font-size: 11px;
    background-color: #fff;
    font-weight: bold;
    color: #f096ab;
    text-align:center;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
  .data a.delete:hover {
    background-color: #e5335d;
    border:1px solid #e5335d;
    color: #fff;
  }
.num {
  width: 9% !important;
}
.num.profit {
  width: 6% !important;
}
.count {
  width: 5% !important;
}
  .num input {
    text-align: right;
  }

#all #data input {
  font-size: 13px;
  padding: 6px 5px;
  border-top: none;
  letter-spacing: 0;
  border-bottom: none;
  border-left: none;
  border-radius: 0;
  background: none;
  margin-bottom: 0;
  border-right-style: dotted;
  border-right-color: #c9cfe0;
}
#all #data .ttl input {
  font-size: 14px;
}
#all #data li:last-child input {
  border: none;
}
.code {
  width: 9% !important;
}
li.code input {
  text-indent: 1em;
}

.unit {
  width: 6% !important;
}
#data .unit input {
  text-align: center;
}

#regbtn {
  text-align: center;
  padding: 20px 0;
}

#totalArea {
  padding: 15px 30px;
  border-bottom: 1px solid #d7d9dc;
  background-color: #f5ffec;
}
  #totalArea p {
    font-size: 16px;
    text-align: right;
  }
    #totalArea p span {
      font-size: 16px;
      font-weight: bold;
    }


#sound {
  display: none;
}

#lightboxTotal {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  padding: 15px;
  position: fixed;
  right: 50px;
  top: 88px;
  display: none;
  z-index: 150;
}
  #lightboxTotal p, #lightboxTotal span {
    color: #fff;
  }

