@charset "UTF-8";

@import "common/layout.css";

/*-------------------------------------------------------------------------
	page
/*-----------------------------------------------------------------------*/
.title {
	position:relative;
	padding:15px 30px;
}
#all .box {
	padding:0;
}
h1 {
	float:left;
	margin-right:30px;
}
#reg {
	float:left;
	margin-top:2px;
}

#names {
	padding:5px 0;
	background-color:#a4aeb9;
}
  #names ul {
		display:table;
		width:100%;
	}
  #names li {
		font-size:12px;
		color:#FFF;
		display:table-cell;
		vertical-align:middle;
		padding:7px 0;
		text-align:center;
	}
	#all .client, .list h2 {
		width:20%;
		padding:0 2%;
	}
	#all .works, .list .works {
		width:52%;
		padding:0 2%;
	}
	#all .update, .list .update {
		text-align:center;
		padding:0 2%;
	}

.list {
	cursor:pointer;
	position:relative;
	z-index:10;
	width:100%;
	overflow-x:hidden;
}

.list:hover {
	box-shadow:0px 0px 5px #009ec6;
	z-index:100;
}
.list.active {
	cursor:auto;
	box-shadow:none;
}
.list:last-child {
	border-radius:0px 0px 4px 4px / 0px 0px 4px 4px;
}
.list:nth-child(even) {
	background-color:#f2fafe;
}
  .list .names {
		display:table;
		width:100%;
	}
	  .list h2, .list .works, .list .update {
			display:table-cell;
			padding:10px 0;
			vertical-align:middle;
		}
		.list h2 {
			padding-left:30px;
		}
		.list .update {
			padding-right:30px;
		}
		.list.active h2, .list.active p.works, .list.active p.update {
			color:#F69;
		}

.list .contents {
	background-color:#fffff1;
	padding:2px 0;
	box-shadow:0px 0px 5px #999999 inset;
	display:none;
}
  .list .contents .reg {
		text-align:center;
		margin-bottom:7px;
	}
  .list .contents .inner {
		background-color:#fffff1;
		padding:10px 30px 5px;
	}
	.list .contents .data {
		border-bottom:1px dotted #CCCCCC;
		display:table;
		width:100%;
	}
	.list .contents .data table {
		width:100%;
	}
	.list .contents .data td {
		font-size:13px;
		vertical-align:middle;
		padding:15px 5px;
	}
	.list .contents .data:last-child {
		margin-bottom:0;
		padding-bottom:0;
		border:none;
	}
	.list .contents .data .icon {
		width:120px;
	}
	#all .list .contents .data .btns {
		text-align:right;
		width:130px;
	}
	#all .list .contents .data .update {
		width:140px;
	}
		.list .contents .data .icon li {
			float:left;
			border:1px solid #999;
			border-radius:4px;
			margin:3px 5px 3px 0;
		}
		.list .contents .data .icon .web {
			border-color:#6ac7f2;
		}
			.list .contents .data .icon .web span {
				color:#6ac7f2;
			}
		.list .contents .data .icon .design {
			border-color:#f2aa6a;
		}
			.list .contents .data .icon .design span {
				color:#f2aa6a;
			}
		.list .contents .data .icon .edit {
			border-color:#f791ae;
		}
			.list .contents .data .icon .edit span {
				color:#f791ae;
			}
		.list .contents .data .icon .dtp {
			border-color:#86d162;
		}
			.list .contents .data .icon .dtp span {
				color:#86d162;
			}
			.list .contents .data .icon li span {
				font-size:12px;
				display:block;
				padding:2px 7px;
				background-color:#FFF;
				border-radius:4px;
			}
		#all .list .contents .data .radbtn {
			float:left;
			margin:3px 5px 3px 0;
		}
		#all .list .contents .data .radbtn a {
			font-size:12px;
			width:60px;
			padding:3px 0;
			text-align:center;
		}
		#all .radbtn.delete a {
			background-color:#e78d8d;
			text-shadow:1px 1px 0px #b9534e;
			box-shadow:0px 1px 0px #b9534e;
		}
		#all .radbtn.delete a:hover {
			box-shadow:0px 1px 1px #9b2e29 inset;
			text-shadow:1px 1px 0px #9b2e29;
			background-color:#b9534e;
		}


#search {
	margin-bottom:20px;
	position:relative;
	margin-top:-110px;
}
	#search .box {
		padding:30px 30px 20px;
		border-color:#c4e3d6;
	}
	.accBox ul {
		display: none;
		border: 1px solid #ccc;
		border-top: 1px dashed #ccc;
		border-radius:0px 0px 4px 4px / 0px 0px 4px 4px;
		position: relative;
		top: -1px;
		z-index: 100;
		background-color: #f9f9f9;
	}
	  .accBox ul li {
	  	border-bottom: 1px dotted #ccc;
	  	padding: 5px 20px;
	  }
	  .accBox ul li:last-child {
	  	border: none;
	  }
	  .accBox ul li.selc {
	  	color: #fff;
	  	background-color: #76d9af;
	  }
	#search .select {
		float:left;
		width:20%;
		margin-right:1%;
		position:relative;
	}
	.accBox .select {
		position:relative;
	}
	#search .select.keyword {
		width:48%;
		margin-right:0;
	}
	  .accBox .select span {
			font-size:8px;
			position:absolute;
			top:1px;
			right:1px;
			background-color:#76d9af;
			color:#FFF;
			height:30px;
			line-height:30px;
			padding:0 8px;
			border-radius:0px 4px 4px 0px / 0px 4px 4px 0px;
		}
		.accBox .select .input,
		.accBox .select li {
			cursor:pointer;
		}
		#search .btnsearch {
			float:right;
		}
		  #search .btnsearch input {
				padding:6px 15px 5px;
				border:none;
				cursor:pointer;
			}